<h1>New Slack Workspace</h1>

<p>
<%= render 'form', slack_workspace: @slack_workspace %>
</p>

<p>
<a href="https://slack.com/oauth/authorize?scope=commands,bot&client_id=795375685718.781696135747"><img alt=""Add to Slack"" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
</p>

<%= link_to 'Back', slack_workspaces_path %>
